html {
  box-sizing: border-box
}

*, 
*::before, 
*::after { 
  box-sizing: inherit;
}

body {
  --body-bg: #2D2D34;
  background-color: var(--body-bg);
  --btn-text-color: #eaeaea;
  --inverted-btn-text-color: #eaeaea;
  --light-dark-btn-bg: #1d1e2b;
  --light-dark-btn-content: "Dark Mode";
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: antiquewhite;
  align-items: center;

}

body.dark {
  background: url("../assets/badass-skeleton.jpg");
  --btn-text-color: #eaeaea;
  --inverted-btn-text-color: #eaeaea;
  background-color: var(--body-bg);
  --light-dark-btn-bg: linear-gradient(to right top, #444655, #595b6b, #6f7181,
  #868898, #9ea0b0, #acaebe, #bbbccd, #cacbdc, #d2d4e5, #dadced, #e3e5f6, #ebeeff);
--light-dark-btn-content: "Light Mode";
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

h1 {
  margin-top: 50px;
}

#reset-btn {
  margin: 5px;
  border: none;
  font-size: 20px;
  font-weight: 500;
}

.btn {
  border: none;
  color: var(--btn-text-color);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 100px;
}

#light-dark-btn {
  background-color: var(--light-dark-btn-bg);
  background-image: var(--light-dark-btn-bg);
}

#light-dark-btn::after {
  border: none;
  color: var(--inverted-btn-text-color);
  content: var(--light-dark-btn-content);
}

section.board {
  display: grid;
  grid-template-rows: repeat(6, 10vmin);
  grid-template-columns: repeat(7, 10vmin);
  grid-gap: 0vmin;
  margin: auto;
}

div {
  border: 3px solid rgb(134, 53, 53);
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
}
